<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input label="1.: touch here"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="showToast()">2.: touch here</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Result: Toast Message is floating somewhere in the middle of the screen instead of positioning above the Tab</ion-label>
    </ion-item>
  </ion-list>



  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
